/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.07.2014, 9:23:18
    Author     : Andr
*/

.divHi{
    color: papayawhip;
    position: fixed;
    left: 0px;
    top: 250px;
    width: 40px;
    background: chocolate;  
}
/* for control panel*/
.panel{
    position: fixed;
    right: 0px;
    top: 250px;
    width: 100px;
    background: slateblue; 
    clear: both;
    z-index: 20;//lifted up relative 
    
}

textArea{
   width: 100%;
   height: 300px;
   text-align: center;  
   color: black;
   alignment-adjust: central;
   background: black;
   color: aqua;
      
}