
body {
    background: black;
    color: cyan;
    text-align: center;
}
div{
    margin: 0 auto;
}
.body{
   
    width: 70%;
    background: chartreuse;  
    
}
a:visited{
    color: tomato;
}
a{
    color: chartreuse;
}
a:active{
    color: red;
}
h1{
    color: chartreuse;
}
.divHi{
    position: fixed;
    left: 0px;
    top: 250px;
    width: 40px;
    background: red;  
}